{% extends 'base.html.twig' %}

{% block title %}List of categories{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>List of Categories</h1>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered table-hover table-sm">
                <caption>List of Categories</caption>
                <thead  class="thead-dark">
                    <tr>
                        <th scope="col">lp.</th>
                        <th scope="col">name</th>
                        <th scope="col">actions</th>
                    </tr>
                </thead>
                <tfoot  class="thead-dark">
                    <tr>
                        <th>lp.</th>
                        <th>code</th>
                        <th>actions</th>
                    </tr>
                </tfoot>
                <tbody>
                {% for key, category in categories %}
                <tr>
                    <td>{{ key+1 }} </td>
                    <td>{{ category.getCode()}}</td>
                    <td class="text-center">
                        <a href="{{ path('categories_show', { id: category.getId() }) }}" 
                        class="btn btn-outline-primary">
                            View
                        </a>
                    </td>
                </tr>   
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>
{% endblock %}
