{% extends 'base.html.twig' %}

{% block title %}Product deatils{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Product details:</h1>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <h2>Name: </h2>{{ product.getName() }}
            </div>
            <div class="mb-3">
                <h4 class="bold">Price: </h4> {{ product.getPrice() }}
            </div>
            <div class="mb-3">
                <h5>Categories</h5>
                <ul   class="list-unstyled">
                    {% for category in product.getCategory() %} 
                        <li>
                            <a href="{{path('categories_show', {id:category.getId()})}}"  class="text-info stretched-link">
                            {{category.getCode()}}
                            </a>
                        </li>
                    {% endfor %}
                <ul>
            </div>
        </div>
    </div>
   
</div>
{% endblock %}
